@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 15, 15;
  --background-end-rgb: 15, 15, 15;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

/* Для iOS */
body {
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
}

/* Для скролу */
::-webkit-scrollbar {
  width: 0px;
}

/* Для кращої адаптації під мобільні пристрої */
@layer utilities {
  .safe-top {
    padding-top: env(safe-area-inset-top);
  }
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
} 